<% @interactions.each do |i| %>
<div>
Content: <%= i.content %>
</div>
<div>
Type: <%= i.message_type %>
</div>
<div >
User: <%= i.user_id %>
</div>
<% end %>


<%= bootstrap_form_for @new_interaction, :url => interactions_new_path, :html => {:method => :post} do |f| %>
  <%= f.text_field :content %>
  <%= f.submit("Submit") %>
<% end %>
