<div class="card-columns">
  <% @rewards.each do |r| %>
  <div class="card" style="width: 20rem;">
    <%= cl_image_tag(r.photo_link, class:"card-img-top") %>
    <div class="card-body">
      <h4 class="card-title">
        Item: <%= r.name %>
      </h4>
      <p class="card-text">
        Points Needed: <%= r.required_points %>
      </p>

      <%= bootstrap_form_for @new_redemption, :url => rewards_redeem_path, :html => {:method => :post} do |f| %>
<<<<<<< HEAD
        <%= f.hidden_field :reward_id, :value => r.id %>
        <%= f.submit "Submit", :class => 'btn btn-primary' %>
=======
        <%= f.hidden_field :name %>
        <%= f.hidden_field :required_points, :value => 0 %>
        <%= f.hidden_field :photo_link, :value => @photo_id %>
        <%= f.submit "Redeem", :class => 'btn btn-primary' %>
>>>>>>> 3655b8ae2546b943abac20dd9776b8753b084a89
      <% end %>

    </div>
  </div>
  <% end %>
</div>
