<h1>Register</h1>

<%= form_for @user, url: register_path do |f| %>
  <%= f.email_field :email, placeholder: "Enter your email" %>
  <%= f.password_field :password, placeholder: "Enter your password" %>
  <%= f.password_field :password_confirmation, placeholder: "Please confirm it" %>
  <%= f.submit "Register" %>
<% end %>
