<div class="container">

  <div class="card-deck">
    <% @photos.each do |f| %>
      <div class='col-lg-4 col-sm-6'>
        <div class="card">
          <a href="<%= f.id %>"><img class="card-img-top" src="<%= f.photo_link %>" alt="<%= f.title %>"></a>
          <div class="card-body">
            <h4 class="card-title">
              <%= f.title %>
            </h4>
            <p class="card-text"><%= f.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last Updated:
              <%= f.updated_at %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
