<div class="container">
	<%= bootstrap_form_for @new_photo do |f| %>
		<%= f.text_field :title %>
		<%= f.text_field :description %>
		<a href="#" id="upload_widget_opener"></a>
		<br>
		<br>
		<%= f.submit("Submit") %>
	<% end %>

</div>


<!-- <%= cl_image_tag("kn5xdvgqzmgtptwbyaix.jpg") %> -->
